@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-400 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat-500 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.caveat-600 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.caveat-700 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.righteous-regular {
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.btn-contact:hover {
  box-shadow: none !important;
}

.list-somos {
  list-style: none;
  /* position: relative; */
}

.list-somos li::before {
  /* position: absolute; */
  /* left: 0; */
  content: "\f0ad";
  color: #d2ba00;
  font-family: FontAwesome;
  display: inline-block;
  width: var(--icon-space);
}

.parallax-bg {
  top: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../assets/industrias4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.parallax-bg-2 {
  position: absolute;
  background-image: url("../assets/marcas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.animate-carousel {
  animation: move 25s linear infinite;
  width: calc(15rem * 8 + 3rem * 8);
}

.ring-bottom {
  transition: all 300ms;
}

.ring-bottom:hover {
  transition: all 300ms;
  box-shadow: 0 1px 0.5px #d2ba00;
}

.group:hover div {
  animation-play-state: paused; /* Detiene la animación al hacer hover */
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-15rem * 4 - 3rem * 4));
  }
}
